.blog-heading{
    font-size: 3rem;
    text-align: center;
    padding: 15px;
    max-width: 1200px;
    margin: auto;
}

.texty{
    font-size: 1.2rem;
    /* width: 80%; */
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: inherit;
}
p{
    align-items: center;
    margin: auto;
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

video{
    width: 100%;
}

#content-holder {
    display: flex;
    flex-direction: column;
}

#content-holder > .holder {
    display: flex;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
}
#content-holder > .holder > .img-holder {
    width: 100%;
}
#content-holder > .holder > .text-holder {
    width: 100%;
}

.img-holder>img{
    width: 100%;
    max-width: 1200px;
}